* {
    margin: 0;
    padding: 0;
}

::selection {
    background: #000;
    color: #fff;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

#ie {
    height: 1px;
    width: 1px;
    overflow: hidden;
}

html {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    border-bottom: solid #6cc 1px;
    overflow-x: hidden;
    min-height: 100%;
}

header {
    padding: 4.5em;
    padding-top: 27%;
    display: block;
    background: #000;
    color: #fff;
}

header div {
    font-size: 3em;
    font-weight: 900;
}

header a {
    color: #fff;
    text-decoration: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #999;
}

nav {
    padding: 0 3em 3em;
    margin-top: -1px;
    background: #000;
    color: #fff;
    font-size: 1.5em;
}

nav ul {
    margin: 0;
}

nav li {
    display: inline;
    padding-right: .5em;
    margin-right: .5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    border-bottom: solid white 1px;
    transition: border .18s;
    -webkit-transition: border .18s;
}

nav a:hover {
    border-bottom: solid white 3.6em;
}

h1 {
    margin: 2em auto 1em;
    padding: 1em 1em 1em;
    border-left: solid 3em #000;
}

h2 {
    border-color: #fff !important;
    margin-bottom: .25em;
    color: #000 !important;
}

a h2:hover {
    color: #000;
    text-decoration: underline;
}

h3 {
    font-style: italic;
    color: #999;
    font-weight: 500;
}

p, article ul, label {
    padding: 0 3.75em 1em;
    line-height: 1.5em;
    max-width: 27em;
    font-size: 1.25em;
}

article ul {
    list-style-type: none;
}

article li {
    border-left: 1.5em black solid;
    padding-left: .5em;
    margin-bottom: .5em;
}

p a {
    color: #999;
    text-decoration: none;
    border-bottom: 0px solid #000;
    transition: border-bottom .1s, color .1s;
    -webkit-transition: border-bottom .1s, color .1s;
}

p a:hover {
    border-bottom: 3px solid #000;
    color: #000;
}

p.readMore {
    text-align: right;
}

iframe {
    max-width: 100%;
    width: 900px;
    height: 450px;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    -webkit-overflow-scrolling: touch;
}

img {
    max-width: 72%;
    margin: 1em auto;
    display: block;
}

.vimeo {
    background: #000;
    border: none;
    padding: 1em;
    display: block;
    margin: 1em 0;
}

.mainImage {
    background: #000;
    padding: 1em;
    margin: 1em 0;
}

.mainImage .vimeo {
    margin: 0;
}

.vimeo iframe {
    margin: auto;
    display: block
}

.accent {
    color: #999;
}

.bordered, input, textarea, select {
    width: 36em;
    max-width: 72%;
    display: block;
    border: black solid 3px;
    margin-bottom: 1em;
    font-size: 1em;
    padding: 1.25em;
    font-family: raleway, helvetica, arial, sans-serif;
}

select {
    width: 39em;
    padding: 0;
}

option {
    padding: 1.25em;
}

p input {
    margin: 0;
}

input[type="submit"] {
    width: auto;
    cursor: pointer;
}

textarea {
    font-size: 1em;
}

footer {
    background: #000;
    color: #fff;
    padding: 3em 4.5em 9em;
}

footer a {
    color: #999;
}

footer a:hover {
    color: #fff;
}

header, nav, h1, h2, p, .bordered, input, textarea, select, footer, ul, label {
    transition: border .9s, padding .9s, margin .9s;
    -webkit-transition: border .9s, padding .9s, margin .9s;
}

@media (max-width: 599px) {
    header {
        padding-left: 1.35em;
    }

    .bordered, input, textarea, select {
        margin-left: 1.35em;
    }

    nav {
        padding-left: .9em;
    }

    h1, h2 {
        border-left: solid .9em #000;
    }

    p, article ul, label {
        padding: 0 1.485em 1em;
    }
}

@media (min-width: 600px) and (max-width: 1099px) {
    header, footer {
        padding-left: 4.5em;
    }

    .bordered, input, textarea, select {
        margin-left: 4.5em;
    }

    nav {
        padding-left: 3em;
    }

    h1, h2 {
        border-left: solid 3em #000;
    }

    p, article ul, label {
        padding: 0 3.75em 1em;
    }
}

@media (min-width: 1100px) and (max-width: 1499px) {
    header, footer {
        padding-left: 13.5em;
    }

    .bordered, input, textarea, select {
        margin-left: 13.5em;
    }

    nav {
        padding-left: 9em;
    }

    h1, h2 {
        border-left: solid 9em #000;
    }

    p, article ul, label {
        padding: 0 10.85em 1em;
    }
}

@media (min-width: 1500px) {
    header, footer {
        padding-left: 22.5em;
    }

    .bordered, input, textarea, select {
        margin-left: 22.5em;
    }

    nav {
        padding-left: 15em;
    }

    h1, h2 {
        border-left: solid 15em #000;
    }

    p, article ul, label {
        padding: 0 18em 1em;
    }
}

.contact {
    background: #F0F0F0;
    border-top: 4px solid #e0e0e0;
    margin-top: 1em;
}

.contact .contact_header {
    display: inline-block;
    font-weight: bold;
    margin: 2em 0 0.5em;
}

h2#contactMessage {
    color: #900 !important;
}

.error, .delete {
    color: #900 !important;
}

.bordered {
    margin-bottom: 0;
    border-bottom: none;
}

.bordered:last-of-type {
    border-bottom: black solid 3px;
}

.hidden {
    visibility: hidden;
    height: 0;
}

.right {
    float: right;
}

.background-muted {
    background: #eee;
}

label input {
    margin-left: 0;
    width: 36%;
}

